
body{
	margin: 0;

}


h1{
	height:50px;
	background-color: cyan;
	text-align: center;
	font-size: 18pt;
	margin: 0;
}


#bigOrangeSquare{

	background-color: orange;
	height: 350px;

	margin-left: 45%;
	margin-right: 45%;
	width: 120px;
	margin-top:0;
	margin-bottom: 0;
}

.light{
	border: 3px solid black;
	width: 100px;
	height: 100px;
	margin-left: 46%;
	border-radius: 50px;
	position: absolute;
}
.buttonHolder{
	text-align: center;
}

#top{
	top: 60px;
	background-color: darkred;
}

#middle{
	top: 170px;
	background-color: darkkhaki;
}

#bottom{
	top: 280px;
	background-color: forestgreen;
}

.myButton{
	border: 4px solid black;
	width: 150px;
	height: 30px;
	text-align: center;
	font-size:18pt;
	border-radius: 15px;
	/* float:left; */
	display: inline-block;

}

#marginizer{
	margin-left: 25%;
}


